resources/* linguist-vendored
*.js linguist-language=php
*.blade.php whitespace=cr-at-eol
/.env.testing export-ignore
/artifacts export-ignore
/composer.lock export-ignore
/dcat-admin-demo export-ignore
/images export-ignore
/laravel-tests export-ignore
/mix-manifest.json export-ignore
/node_modules export-ignore
/pre-dist export-ignore
/resources/pre-dist export-ignore
/vendor export-ignore
/yarn.lock export-ignore
/.idea export-ignore
/.php_cs.cache export-ignore
/.vscode export-ignore
/*.bak.* export-ignore
.DS_Store export-ignore
